@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

*{
    box-sizing: border-box !important;
    transition: ease all 0.5s;
    font-family: 'Kanit', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #e8f5e9;
    margin: 0;
    padding: 0;
    color: #2e7d32;
}

header {
    background-color: #1b5e20;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.project-title {
    text-align: center;
    margin: 20px 0;
    color: #388e3c;
    font-weight: 600;
}

.abstract {
    background-color: #e0f2f1;
    border-left: 5px solid #388e3c;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.project-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-details img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-details .code-snippet {
    flex: 1 1 300px;
    background-color: #e8f5e9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    border: 1px solid #388e3c;
}

.code-snippet pre {
    background-color: #1b5e20;
    color: #c8e6c9;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}
/* Demo */
.section-video{
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding-top: 90px;
}
.demo{
    text-align: center;
    margin: 20px 0;
    color: black;
    font-weight: 600;
}
.long_text{
    text-align: center
}
.video-demo{
    justify-self: center;
    padding-top: 20px;
}
/* member */
.member-section{
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;
}
.text-member{
    color: #000000;
    text-align: center;
    font-size: 18px;
}
.column{
    display: flex;
    column-gap: 100px;
    justify-content: center;
}
.name{
    font-size: 20px;
}
.img-section{
    text-align: center;
}
.img-mem{
    size: 20px;
}
.memimage{
    width: 250px;
}

/* footer */
/* footer {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
} */